

<%= link_to "Home", home_url %> | 
<%= link_to 'Trending Topics', show_trending_url %> |
<%= link_to 'Public Timeline', tweets_url %> |
<%= link_to 'Random Users', users_url %> |
<%= link_to 'Most Popular Tweets', most_popular_tweets_url %> |
<%= link_to 'Least Popular Tweets', least_popular_tweets_url %>

<center> 

<h1> Twitter Plus </h1> 

<% if current_user %>
	
      <%= link_to "Profile", current_user %>
     | <%= link_to "Sign Out", session_url, method: 'delete' %>
     | <%= link_to "Edit Profile", edit_user_url(current_user) %>
     | <%= link_to "Compose a Tweet", new_tweet_url %>
 	

    <% else %>

    
      <%= link_to "Sign In", signin_path %>
	 | <%= link_to "Sign Up", new_user_url %>
	 </p>	
 	<% end %>

 </center>