<h1>Welcome to Twitter Plus</h1>

<p> Sign in Form </p>
<p> New User Sign Up </p>

<p> Search </p>

<p> Links </p>
<ul>
	<li><%= link_to 'view trending topics', show_trending_url %> </li>
  	<li><%= link_to 'view public timeline', show_public_timeline_url %> </li>
  	<li><%= link_to 'random users', random_users_url %> </li>
  	<li><%= link_to 'most popular tweets', most_popular_tweets_url %> </li>
  	<li><%= link_to 'least popular tweets', least_popular_tweets_url %> </li>

