<h1>Least PopularTweets</h1>

<p><%= link_to "Home", home_url %></p>

<table>
  <thead>
  	<tr>
  		<th> Username </th>
      <th> Tweet ID </th>
      <th> Like Score </th>
      <th> Tweet Text </th>

  	</tr>
  </thead>
<tbody>
<%@leastliked.each do |tweet| %>
		<tr>
			<td> <%= Tweet.find(tweet[0]).username %> </td>
      <td> <%= tweet[0]%> </td>
      <td> <%= tweet[1] %> </td>
      <td> <%= Tweet.find(tweet[0]).text %> </td>

		</tr>		
	<% end %>
  </tbody>
</table>
